.b {
    text-align: center;
}

.e {

    color: rgb(11, 11, 252);
    width: 100px;

}

body {
    color: blue;




}

button {
    border-color: blue;


}




body {
    text-align: center;
}

.a {
    text-transform: none;
}